<div class="like-container">
  <%= "Likes: #{post.likes.count}" %>
  <% like = current_user.likes.find_by(post_id: post.id) %>
  <% if like.nil? %>
    <%= button_to "Like", likes_path({"like"=>{post_id: post}}) %>
  <% else %>
    <%= button_to "Unlike", like_path(like), method: :delete %>
  <% end %><br>
</div>