<div class="user-show-display">
  <div class="user-info-index">
    <div>
      <%= image_tag "#{user.image}" %>
    </div>
    <div class="username-index">
      <% if user == current_user %>
        <%= link_to "#{user.username}", profile_path %>
      <% else %>
        <%= link_to "#{user.username}", user_path(user.id) %>
      <% end %>
    </div>
  </div>
  <div class="follow">
    <%= render "follows/follow_button", user: user %>
  </div>
</div>