<div class="user-show-display">
  <div class="user-info-index">
    <div class="">
      <%= image_tag "#{user.image}" %>
    </div>
    <div>
      <%= user.username %>
    </div>
  </div>
  <div class="follow">
    <%= render "follows/follow_button", user: user %>
  </div>
</div>