<div class="page-container">
  <div class="about-container">
    <h2>Welcome to the Jester Network!</h2>
    <p class="about">Share your thoughts, connect with others, and build your Jester Network.</p>
    <%= button_to "Let's get started!", posts_path, method: :get %>
  </div>
</div>