<div class="page-container">
  <div class="post-container">
    <h2>Welcome to the Jester Network!</h2>
    <p>Make a post on your home page and connect with other users to get started!</p>
  </div>
</div>