<div class="page-container">
  <div id="new-post" class="new-post">
    <%= turbo_frame_tag "new_post" do %>
      <%= button_to "New Post", new_post_path, method: :get %>
    <% end %>
  </div>
  <div id="posts">
    <% if @posts.empty? %>
      <h3>Make a post or follow another user to join the conversation!</h3>
    <% else %>
      <%= render @posts %>
    <% end %>
  </div>
</div>
