* {
  font-family: sans-serif;
}

button, .submit {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  z-index: 1;
  cursor: pointer;
}

button:hover, .submit:hover {
  background-color: #00945e;
}

textarea {
  width: 100%;
  resize: none;
}

.header {
  background-color: #f8f8f8;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 3px rgba(195, 195, 195, 0.567);
  position: fixed;
}

.site-name {
  justify-content: center;
  align-content: center;
  margin: 10px;
  font-size: x-large;
  font-weight: 700;
}

.link-container {
  display: flex;
}

.link {
  align-content: center;
}

a {
  color: #04AA6D;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 3px;
}

a:hover {
  background-color: #e4e4e4;
  border-radius: 5px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.page-container {
  margin-top: 60px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cancel {
  margin: 10px;
}

.post-user a, .comment-user a {
  color: black;
}

.post-user a:hover, .comment-user a:hover {
  background: none;
}

.post-user {
  font-size: 18px;
  font-weight: 600;
}

.comment-user {
  font-size: 15px;
  font-weight: 600;
}

.post-user, .comment-user {
  margin: 5px;
}

.new-post {
  margin-bottom: 20px;
  margin-top: 20px;
}

.post-container {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  margin-bottom: 20px;
}

.post-container, .new-post, .user-show-display {
  box-shadow: 1px 1px 1px 1px rgba(195, 195, 195, 0.567);
  background-color: #f8f8f8;
  width: 33vw;
  padding: 20px;
  border-radius: 15px;
}

.follow-data {
  width: 33vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
}

.comment-header .user img {
  height: 38px;
  width: 38px;
}

.user img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.user-info-show {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: auto auto 50px 30px;
}

.follows {
  display: flex;
  align-items: center;
}

.follow-buttons {
  display: flex;
}

.follow-buttons button {
  margin: 20px;
}

.user-info-show img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.username-show {
  font-size: 36px;
  font-weight: 600;
}

.post-header, .comment-header {
  display: grid;
  grid-template-columns: 6fr 2fr;
  align-items: center;
}

.post-menu, .comment-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.content {
  padding-top: 30px;
  padding-bottom: 30px;
  align-content: center;
}

.like-comment-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid;
  border-top: solid;
  border-color: #acacac;
  padding: 4px;
}

.likes {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  align-items: center;
}

.like-thumb, .like-thumb-outline, .delete {
  height: 25px;
  width: 25px;
  display:block;
  cursor: pointer;
}

.like-thumb {
  background: url("thumb-up") no-repeat center;
}

.like-thumb-outline {
  background: url("thumb-up-outline") no-repeat center;
  transition: 0.3s;
}

.like-thumb:hover, .like-thumb-outline:hover {
  background: url("thumb-up") no-repeat center;
}

.delete {
  background: url("trash-can-outline") no-repeat center;
  transition: 0.3s;
}

.delete:hover {
  background: url("trash-can") no-repeat center;
}

.comment-content {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #eaeaea;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}

div[id^="comments_post"] {
  margin-top: 5px;
  margin-bottom: 5px;
}

div[id^="add_comment"] {
  padding-top: 10px;
}

.comment-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-show-display {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-bottom: 10px;
  margin-top: 10px;
}

.user-info-index {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 10px;
  align-items: center;
}

.username-index {
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
}

.username-index a {
  color: black;
}

.user-info-index img {
  border-radius: 50%;
  height: 90px;
  width: 90px;
}

.user-info-show {
  margin-top: 20px;
  margin-bottom: 20px;
}

.follow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}

.select {
  transform: scale(1.2);
}

.edit .field {
  margin: 10px 0px 10px 0px;
}