/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header {
  background-color: #f8f8f8;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  grid-template-rows: 1fr 1fr;
  box-shadow: 2px 2px 3px rgba(195, 195, 195, 0.567);
  position: fixed;
}

.link-container {
  display: flex;
}

.link {
  padding: 10px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.page-container {
  margin-top: 60px;
}

.post-container {
  display: grid;
  grid-template-rows: 50px auto 30px 30px 2fr 0.5fr;
  margin-bottom: 20px;
}

.new-post {
  margin-bottom: 20px;
  margin-top: 20px;
}

.post-container, .new-post {
  box-shadow: 1px 1px 1px 1px rgba(195, 195, 195, 0.567);
  background-color: #f8f8f8;
  width: 30vw;
  padding: 20px;
  border-radius: 15px;
}

.users {
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-header, .comment-header {
  display: grid;
  grid-template-columns: 6fr 1fr;
  align-items: center;
}

.post-menu, .comment-menu {
  display: flex;
  justify-content: space-around;
}

.content {
  padding-top: 30px;
  padding-bottom: 30px;
  align-content: center;
}

.like-comment-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like-comment {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

#comments {
  margin-top: 10px;
  margin-bottom: 10px;
}

.comment-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-show-display {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 20px;
}

.user-info {
  margin-top: 20px;
  margin-bottom: 20px;
}