/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  justify-content: center;
  grid-template-rows: 1fr 1fr;
  box-shadow: 2px 2px 3px rgba(195, 195, 195, 0.567);
  /* position: fixed; */
}

.link-container {
  display: flex;
}

.link {
  padding: 10px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.post-container {
  display: grid;
  align-items: center;
}

.new-post {
  margin-bottom: 20px;
  margin-top: 20px;
}

.post-container, .new-post {
  box-shadow: 1px 1px 1px 1px rgba(195, 195, 195, 0.567);
  background-color: #f8f8f8;
  width: 50vw;
  padding: 20px;
  border-radius: 15px;
}

.user {
  background-color:aliceblue;
}

.post-header {
  display: flex;
  justify-content: space-between;
}

.like-comment-count {
  display: flex;
  justify-content: space-between;
}